<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trip history</title>
</head>
<body>
    {% csrf_token %}
    <h1>Trip History</h1>
    {% if trip_data %}
    <div class="container mt-5">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Starting Address</th>
                    <th>Finishing Address</th>
                    <th>Distance (km)</th>
                    <th>Duration (min)</th>
                    <th>Trip Price</th>
                    <th>Currency</th>
                    <th>Vehicle Fuel Type</th>
                    <th>Tank Size (L)</th>
                    <th>Current Fuel (L)</th>
                    <th>Fuel Consumption (L/100km)</th>
                    <th>Fuel Price</th>
                    <th>Refill Needed</th>
                </tr>
            </thead>
            <tbody>
                {% for trip_entry in trip_data %}
                <tr>
                    <td>{{ trip_entry.trip.starting_address }}</td>
                    <td>{{ trip_entry.trip.finishing_address }}</td>
                    <td>{{ trip_entry.trip.distance }}</td>
                    <td>{{ trip_entry.trip.duration }}</td>
                    <td>{{ trip_entry.trip.trip_price }}</td>
                    <td>{{ trip_entry.trip.currency }}</td>

                    {% if trip_entry.vehicles %}
                    {% for vehicle_entry in trip_entry.vehicles %}
                    <td>{{ vehicle_entry.vehicle.fuel_type }}</td>
                    <td>{{ vehicle_entry.vehicle.tank_size }}</td>
                    <td>{{ vehicle_entry.vehicle.cur_fuel }}</td>
                    <td>{{ vehicle_entry.vehicle.fuel_consumption_per_100km }}</td>
                    <td>{{ vehicle_entry.vehicle.price_of_fuel }}</td>
                    <td>
                        {% if vehicle_entry.refill_needed %}
                        Yes
                        {% else %}
                        No
                        {% endif %}
                    </td>
                    {% endfor %}
                    {% else %}
                    <td colspan="6">No vehicle data available</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No trip history found.</p>
        {% endif %}
    </div>
</body>
</html>
